
<!-- <app-home-page></app-home-page> -->
<router-outlet></router-outlet>
<!-- <section class="col">
    <h3>Watch Later</h3>
    <div class="row">
      <div class="card col-9" *ngFor="let id of favoritesList">
        <div class="card-body">
          <h5 class="card-title">{{moviesList[id].titl  e}}</h5>
          <p class="card-text">{{moviesList[id].release_date}}</p>
          <span class="badge badge-pill badge-danger" 
            (click)="removeFavorite(moviesList[id].imdbID)" >remove</span>
        </div>
      </div>
    </div>
  </section> -->