<div class="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Movie</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<!-- <section class="col">
    <h3>Watch Later</h3>
    <div class="row">
      <div class="card col-9" *ngFor="let id of favoritesList">
        <div class="card-body">
          <h5 class="card-title">{{moviesList[id].titl  e}}</h5>
          <p class="card-text">{{moviesList[id].release_date}}</p>
          <span class="badge badge-pill badge-danger"
            (click)="removeFavorite(moviesList[id].imdbID)" >remove</span>
        </div>
      </div>
    </div>
  </section> -->