// .expand {
//     width: 100vw;
// }

.home-page {
  .navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    .wrapper {
      display: flex;
      border: 0.5px solid white;
      width: fit-content;
      cursor: pointer;
      border-radius: 25px;
      .trend {
        padding: 1rem;
        width: 100px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
      }
      .trend:hover {
        background-color: #ffffff;
        border-radius: 25px;
        color: #000000;
      }
    }
  }

  .favorite-dropdown {
    float: right;
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      border: 1px solid red;
      width: 300px;
      overflow: hidden;
      left: -100px;
    }
  }
  .section {
    height: 100vh;
  }
  .loader {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    [class*="loader-"] {
      display: inline-block;
      width: 15em;
      height: 15em;
      color: inherit;
      vertical-align: middle;
      pointer-events: none;
    }

    .loader-01 {
      border: 2em dotted currentcolor;
      border-radius: 50%;
      animation: 5s loader-01 linear infinite;
    }

    @keyframes loader-01 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  // .form-group {
  //   display: flex;
  // }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    justify-content: center;

    .column {

      transition: 0.5s ease;
      backface-visibility: hidden;
      position: relative;
      // height: 340px;
      max-width: 200px;
      text-align: center;
      overflow: hidden;
      .img-wrap {
        .add-fav {
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }
      }
      .img-wrap:hover .movie-link {
        opacity: 0.3;
      }

      .img-wrap:hover .add-fav {
        opacity: 1;
      }
    }
    .title {
      white-space: nowrap;
    }
  }
}
