// .expand {
//     width: 100vw;
// }

.home-page { 
  .navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    .wrapper {
      display: flex;
      border: 0.5px solid white;
      width: fit-content;
      cursor: pointer;
      border-radius: 25px;
      .trend {
        padding: 1rem;
        width: 100px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;
      }
      .trend:hover {
        background-color: #FFFFFF;;
        border-radius: 25px;
        color: #000000;
      }
    }
  }

  .favorite-dropdown {
    float: right;
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      border: 1px solid red;
      width: 300px;
      overflow: hidden;
      left: -100px;
    }
  }

  // .form-group {
  //   display: flex;
  // } 
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    justify-content: center;

    .column {
      transition: .5s ease;
      backface-visibility: hidden;
      position: relative;
      // height: 340px;
      max-width: 200px;
      text-align: center;
      overflow: hidden;
      margin: 1rem;
      .img-wrap {
        .add-fav {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }

      }
      .img-wrap:hover .movie-link {
        opacity: 0.3;
      }
    
      .img-wrap:hover .add-fav {
        opacity: 1;
      }
    }
    .title {
      white-space: nowrap;
    }
  }
}