<div class="home-page">
  <div class="navigation">
    <div class="wrapper">
      <a href="#" class="trend" (click)="onTrendClick('now_playing')">Now playing</a>
      <a href="#" class="trend" (click)="onTrendClick('popular')">Popular</a>
      <a href="#" class="trend" (click)="onTrendClick('top_rated')">Top rated</a>
      <a href="#" class="trend" (click)="onTrendClick('upcoming')">Upcoming</a>
    </div>
  </div>
  <div class="favorite-dropdown nav-item dropdown" (clickOutside)="closeFavorite()">
    <a class="nav-link dropdown-toggle" (click)="openFavorites()" >Dropdown</a>
    <div class="dropdown-menu" *ngIf="fav_expanded">
      <div class="dropdown-item" *ngFor="let favorite of favoritesList">{{favorite.title}}</div>
    </div>
  </div>
  <!-- <div class="form-group">
    <input type="text" class="form-control mb-3" placeholder="Search movie" id="inputDefault" #searchInput>
    <button type="button" class="btn btn-outline-primary" (click)="onSearchClick(searchInput.value)">Search</button>
  </div> -->
  <section>
    <h3>Movies</h3>
    <div class="row">
      <div class="column" *ngFor="let movie of moviesList | keyvalue">
        <div class="img-wrap">
          <div class="movie-link">
            <app-movie-component [movie]="movie.value"></app-movie-component>
          </div>
          <div class="add-fav">
            <button type="button" class="btn btn-outline-primary" (click)="addFavorite(movie.value.id)">Add</button>
          </div>
        </div>
        <a class="title" [routerLink]="['movie',movie.value.id]">{{movie.value.title}}</a>
      </div>
    </div>
  </section>
</div>
  <!-- Pagination -->
  <!-- <div>
    <ul class="pagination pagination-lg">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div> -->
